.bg-img {
    /* The image used */
    background-image: url("src/assets/images/bg1.jpg");
  
    /* Control the height of the image */
    height: 800px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }