<div class="bg-img">
<div *ngIf ="bookmark && bookmark.items.length>0" class="container">
    <ul>
        <li *ngFor="let bookmarkItem of bookmark.items">
            <div>
                <img [src]="bookmarkItem.course.imageUrl" [alt]="bookmarkItem.course.name">
            </div>
            <div>
                <a routerLink="/courses/{{bookmarkItem.course.id}}">
                    {{bookmarkItem.course.name}}
                </a>
            </div>
            <!-- <div>
                {{bookmarkItem.price | currency}}
            </div> -->
            <div>
                <button class="remove-button" (click)="removeFromBookmark(bookmarkItem)">
                     Remove 
                </button>
            </div>
        </li>
    </ul>
    <!-- <div class="checkout">
        <div class="course-count">
            {{bookmark.items.length}}
        </div>
        <div class="total-price">
            {{bookmark.totalPrice |  currency}}
        </div>
        <a routerLink="/checkout">Proceed to Checkout</a>
    </div> -->
</div>
</div>
