<!-- <app-not-found [visible] = "!courses" notFoundMessage=" Product Found!" resetLinkText="Go To HomePage"></app-not-found> -->
<div class="bg-img">
<app-header></app-header>
<div *ngIf="courses" class="container">
    <img [src]="courses.imageUrl" height ="300px" [alt]="courses.name"/>
    <div class="product-item-footer">
    <div class="details">
        <b>{{courses.name}}</b>    
        <div class="star">
            <star-rating [value]="courses.star"
            [totalstars]="5"
            checkedcolor="red"
            size="24px"
            [readonly]="true">
            </star-rating>
        </div>
        <p *ngFor="let dur of courses.duration ">
            <b>Duration : </b>{{dur}}
        </p>
        <p *ngFor="let desc of courses.description ">
            <b>Description :</b> {{desc}}
        </p>
        <p><b>Price : </b>{{courses.price|currency}}</p>
        <div class="btn" >
        <button (click)="addtoBookmark()">Add to Wishlist❤️</button>
        </div>
        <div class="btn-btn" >
        <button (click)="addToCart()">Add to Cart🛒</button>
        </div>
    </div>
    </div>
</div>
</div>

