<div class="bg-img">
    <app-header></app-header>
    <app-search></app-search>
    <!-- <app-chatbot></app-chatbot> -->
    <app-tags></app-tags>
    <ul>
        <li *ngFor="let course of Courses">
            <a routerLink="/course/{{course.id}}">
            <img src="{{course.imageUrl}}" height ="110px" alt="course images">
            <div class="content">
                <div class="name">
                    <b>{{course.name}}</b>
                </div>
                    <star-rating [value]="course.star" 
                    [totalstars]="5" 
                    checkedcolor="red"
                    uncheckedcolor="black"
                    size="24px"
                    [readonly]="true">
                    </star-rating>
            <div class="product-item-footer">
                <p *ngFor="let desc of course.duration">
                    <b>{{desc}}</b>
                </p>
                <div class="price"><p>Price for course: {{course.price | currency}} </p></div>
                <div *ngFor="let tutorial of Tutorials">
                <a routerLink="/course/{{course.id}}/{{course.id}}">
                <button type="submit"class="btn" >
                        Enroll
                </button>
                </a>
                <!-- </a> -->
                </div>
            </div>
            </div>
        </a>
        </li>
    </ul>
</div>
