.bg-img {
    /* The image used */
    background-image: url("src/assets/images/bg1.jpg");
  
    /* Control the height of the image */
    height: 905px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .content{
    /* The image used */
    background-image: url("src/assets/images/bg2.png");
  
    /* Control the height of the image */
    height: 680px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

}
ul li a{
    height: 20rem;
    width: 15rem;
    border: 1px solid whitesmoke;
    border-radius: 0.2rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #8b29e7;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.favourite{
    position:absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.favourite.not{
    color: black;
}
.star{
    margin-bottom: 2rem;
}
.origins{

    flex: 9;
}
    
.origins span{
    
    border-radius: 2rem;
    
    background-color: whitesmoke;
    
    color: gray;
    
    font-size: .8rem;
    
    margin-right: .3rem; display: inline-block;
    
}
    
.price{
    
    color: #424242;
    
}
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    height: 3rem;
    width: 14rem;
    opacity: 0.9;
}