<!-- <app-not-found [visible] = "!tutorials" notFoundMessage=" Product Found!" resetLinkText="Go To HomePage"></app-not-found> -->
<div class="bg-img">
    <app-header></app-header>
    <!-- <app-sidenav></app-sidenav> -->
<div *ngIf="tutorials" class="container">
    <div class="product-item-footer">
    <div class="details">
        <b>{{tutorials.name}}</b>    
        <div class="star">
            <star-rating [value]="tutorials.star"
            [totalstars]="5"
            checkedcolor="red"
            size="24px"
            [readonly]="true">
            </star-rating>
        </div>
        <p *ngFor="let dur of tutorials.duration ">
            <b>Duration : </b>{{dur}}
        </p>
        <video controls width="500px">
            <source [src]="tutorials.videoUrl2" />
        </video>
        <p *ngFor="let desc of tutorials.description ">
            <b>Description :</b> {{desc}}
        </p>     
        <a routerLink="/tutorials/{{tutorials.id}}/{{tutorials.id}}/{{tutorials.id}}">
        <div class="btn">
            <button type="submit">Next</button>
        </div>
        </a>
        <!-- <p><b>Price : </b>{{tutorials.price}}</p> -->
    </div>
    </div>
</div>
</div>

