<div *ngIf="tags">
    <a *ngFor="let tag of tags" routerLink="/tag/{{tag.name}}">{{tag.name}}({{tag.count}})</a>
</div>
<!-- <div *ngIf="coursePageTags">
    <a *ngFor="let tagname of coursePageTags" routerLink="/tag/{{tagname}}">{{tagname}}</a>
</div> -->
