.bg-img {
    /* The image used */
    background-image: url("src/assets/images/bg1.jpg");
  
    /* Control the height of the image */
    height: 800px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
}
ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    border: 3px solid #a34545f5;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #a56938;
}
ul li:last-child{
    border: none;
}
ul li img{
    height: 5rem;
    width: 5rem;
    border-radius: 100rem;
    object-fit: cover;
}
ul li div{
    padding: 1rem;
}
ul li div:not(:first-child){
    flex-basis: 18%;
}
ul li select{
    width: 4rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #a34545f5;
    font-weight: 100;
}
ul .remove-button{
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: .5rem;
    opacity: .7;
    color: #e72929;
}
ul .remove-button:hover{
    opacity: 1;
    cursor: pointer;
}
.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 3px solid #a34545f5;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
}
.checkout>div{
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    margin: 1rem;
    font-size: 1.4rem;
}
.checkout .foods-count{
    margin-bottom: 1.5rem;
}
.checkout .foods-count::before{
    content: 'Total Product: ';
    color: #a34545f5;
}
.checkout .total-price::before{
    content: 'Total Price: ';
    color: #a34545f5;
}