<!-- <app-not-found [visible] = "!cartItem" notFoundMessage=" Product Found!" resetLinkText="Go To HomePage"></app-not-found> -->
<div class="bg-img">
<div *ngIf ="cart && cart.items.length>0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.course.imageUrl" [alt]="cartItem.course.name">
            </div>
            <div>
                <a routerLink="/home">
                    {{cartItem.course.name}}
                </a>
            </div>
            <div>
                {{cartItem.price | currency}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                     Remove 
                </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div class="course-count">
            {{cart.items.length}}
        </div>
        <div class="total-price">
            {{cart.totalPrice |  currency}}
        </div>
        <a routerLink="/home">
            <button type="submit" click class="btn" >
                    Proceed to checkout
            </button>
        </a>
    </div>
</div>
</div>
