<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div class="container">
        <app-search></app-search>
        <a href="#" routerLink="/" class="logo"><img src="assets/images/k4knowledge.jpg" alt="LOGO" width="150" height="100"></a>
        <!-- <a href="#" routerLink="/" class="logo">K4KNOWLEDGE</a> -->
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/home">Home</a>
                    <!-- <a href="#" routerLink="/login">Login</a> -->
                    <!-- <a href="#" routerLink="/register">Register</a> -->
                    <!-- <a href="#" routerLink="/display">Manage Users</a> -->
                    <a href="#" routerLink="/bookmark">❤️</a>
                    <a href="#" class ="notification" routerLink="/cartpage">
                        🛒
                        <span class="badge"></span>
                    </a>
                    <!-- <a href="#" routerLink="/chatbot">Chat</a> -->
                    <a href="#" routerLink="/login">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
        
</header>
