.notification {
    background-color: rgb(13, 157, 201);
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: rgb(68, 90, 187);
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
header{
    background-color: rgb(52, 93, 129);
    padding: 0;
    border-bottom: 1px solid rgb(41, 167, 167);

}
a{
    color: #ebdfdf;
}
a:hover{
    background-color:rgb(68, 90, 187);
    color: rgb(223, 233, 225);

}
.container{
    background-color:rgb(13, 157, 201);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 0.5em;
}
nav ul{
    list-style-type: none;
    margin: 0;

}
nav ul li a{
    padding: 1em;
    display: inline-block;
}
