.bg-img{
    background-image: url("src/assets/images/bg1.jpg");
    height:800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.favourite{
    position:absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}
.container > *{
    min-width: 40rem;
    max-width: 120rem;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}
.details .header{
    display: flex;
    justify-content: space-between;
}
.details .name{
    font-size: 2rem;
    font-weight: bold;
}
.details .favourite{
    color: #e72929;
    font-size: 2.5rem;
}
.details .favourite.not{
    color: gray;
}
.details.origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.details .origins > span{
    padding: .5rem;
    font-size: 1.2rem;
    margin: .5rem .5rem .5rem;
    border-radius: 2rem;
    background-color: gray;
    color: white;
}
.details .cook-time{
    margin: 1rem;
}
.details .price{
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color: green;
}
.details .price::before{
    content: "Price: ";
    color: gray;
}
.details button{
    color: white;
    background-color: #0069af;
    margin-bottom:1%;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
}
.details button:hover{
    opacity: 9;
    cursor: pointer;
}