<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Intro to Node and MongoDB</title>
</head>
    <body>
        <h1>Into to Node and MongoDB</h1>
        <form method="post" action="/addname">
            <label>Enter Your Name</label><br>
            <input type="text" name="sname" placeholder="Enter first
name..." required><br>
            <label>Enter Your Email</label><br>
            <input type="email" name="email" placeholder="Enter
email..." required><br>
            <label>Enter Your Password</label><br>
            <input type="password" name="password" placeholder="Enter
password..." required><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html> -->
<div class="bg-img">
    <div class="container" style="width:500px">
      <!-- <form method="post" action="/addname"> -->
      <form #loginForm="ngForm" (ngSubmit)="signUp(loginForm.value)">
        <!-- class="container"> -->
        <h1>Sign Up</h1>
          <label>Name</label><br>
          <input type="text" ngModel name="sname" #sname=ngModel
  placeholder="Enter first name..." required><br>
          <label>Email</label><br>
          <input type="text" ngModel name="email" #email=ngModel
  placeholder="Enter your email..." required><br>
          <label>Password</label><br>
          <input type="password" ngModel name="password"
  #password=ngModel placeholder="Enter password..." required><br>
          <label>Confirm Password</label><br>
          <input type="password" ngModel name="c_password"
  #c_password=ngModel placeholder="Confirm password..." required><br>
          <button type="submit" class="btn" >Register</button><br>
          <!-- <button type="submit" class="btn" (click)='checkPwd()'>
  Register </button> -->
      </form>
    </div>
  </div>